.customer-info {
  padding: 60px 135px 40px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  .left-item {
    width: 30%;

    .panel-menu-custom {
      .p-panelmenu {
        @apply border border-gray-300 w-4/5;

        background-color: #f0f0f0;
        padding: 25px;

        .p-panelmenu-panel {
          background: inherit;
          border: none;

          @apply border-b border-gray-300;


          &:first-child {
            .p-panelmenu-header-content {
              .item-menu {
                padding-top: 0;
              }
            }
          }

          &:last-child {
            border-bottom: none;

            .p-panelmenu-header-content {
              .item-menu {
                padding-bottom: 0;
              }
            }
          }

          .p-panelmenu-header-content,
          .p-panelmenu-item-content {
            &:hover {
              background: inherit;
            }
          }

          .item-menu {
            &:hover {
              color: var(--color-main);
            }

            &.item-active {
              color: var(--color-main);
            }

            @apply flex items-center cursor-pointer;

            padding-top: calc(21px - 0.5rem);
            padding-bottom: 25px;
          }

          .p-panelmenu-content {
            li.p-panelmenu-item {
              .item-menu {
                padding-top: 0;
              }

              &:first-child {
                .item-menu {
                  padding-top: 25px;
                }
              }

              &:last-child {
                .item-menu {
                  padding-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .right-item {
    width: 100%;

    .label {
      font-size: 25px;
      font-weight: 700;
      color: black;
      line-height: 24px;
      text-transform: uppercase;
    }
  }
}