/* Arial Regular */
@font-face {
    font-family: Arial;
    src: url('../../fonts/Arial.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Arial Bold */
@font-face {
    font-family: Arial;
    src: url('../../fonts/Arial Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Arial Italic */
@font-face {
    font-family: Arial;
    src: url('../../fonts/Arial Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Arial Bold Italic */
@font-face {
    font-family: Arial;
    src: url('../../fonts/Arial Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Arial Black */
@font-face {
    font-family: Arial;
    src: url('../../fonts/Arial Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Arial Narrow Regular */
@font-face {
    font-family: 'Arial Narrow';
    src: url('../../fonts/Arial Narrow.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Arial Narrow Bold */
@font-face {
    font-family: 'Arial Narrow';
    src: url('../../fonts/Arial Narrow Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Arial Narrow Italic */
@font-face {
    font-family: 'Arial Narrow';
    src: url('../../fonts/Arial Narrow Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Arial Narrow Bold Italic */
@font-face {
    font-family: 'Arial Narrow';
    src: url('../../fonts/Arial Narrow Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Arial Rounded Bold */
@font-face {
    font-family: 'Arial Rounded';
    src: url('../../fonts/Arial Rounded Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Arial Unicode (Regular) */
@font-face {
    font-family: 'Arial Unicode';
    src: url('../../fonts/Arial Unicode.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* ArialHB (TTC) */
@font-face {
    font-family: ArialHB;
    src: url('../../fonts/ArialHB.ttc') format('truetype-collection');
    font-weight: 400;
    font-style: normal;
}

/* SVN Harmony */
@font-face {
    font-family: 'SVN Harmony';
    src: url('../../fonts/SVN-Harmony.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}